In [1]:
#10 hypothesis statements

In [53]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
dataset1=pd.read_csv('general_data.csv') 
dataset1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [139]:
#the employee whoose job level is more than 3 has lesser attrition rate 
#the employee whoose age between 25 to 35 has higher attrition rate compared to age above 35
#the employee who are female and their income is greater than 35k thier attirtion rate is less
#the study of sample about 100 persons shows that male who are married their attrition rate is less  
#the employee who are female less than 4 years of experience has high attirition rate
# the employee who are male and working in life Sciences field has less attiritation rate
# the employee who are female with less than 2 years of experience has high attirition rate
#employees who are having more training period and higher years of experrience has low attirition rate
# employess who have less promotion has higher attirition with high years of expreince
# employess with less expereince and are male has low attrition rate